# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node / Scratch
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & credentials
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Builds & Archives
*.zip
